body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info {
margin-top: 3rem;
margin-left: 200px;
margin-right: 200px;
}
.btn {
  margin-left: 200px;
  margin-right: 200px;
}

.px1 {
padding-left: 1rem;
padding-right: 1rem;
}



.mt2 {
  font-weight:bold;
margin-top: 2.5rem;
width: auto;
margin-left: 200px;
margin-right: 200px;
}

.todo {
margin-bottom: 1.5rem;
}

.todo.completed span {
text-decoration: line-through;

}


.todo label {
width: auto;
display: flex;
border-radius: 12px;
font-weight: 700;
align-items: center;
justify-content: space-between;
cursor: pointer;
padding: 1rem;
background:rgb(202, 202, 202);
margin-left: 200px;
margin-right: 200px;


}

.todo i {
z-index: 2;
}